services:
  - type: web
    name: parrando-y-respondiendo
    env: node
    plan: free
    buildCommand: "npm install && npm run build"
    startCommand: "npm start"
    envVars:
      - key: NODE_VERSION
        value: 20
      - key: GEMINI_API_KEY
        sync: false # To prevent the value from being stored in the YAML, for security.
